@import url("https://fonts.googleapis.com/css?family=Noto+Sans+SC:100,300,400,500,700,900");
* {
    margin: 0;
    padding: 0;
}

body {
    color: #333;
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-family: "Noto Sans SC";
}

a {
    text-decoration: none;
    color: #333;
}

li {
    list-style: none;
}

input,
button {
    outline: none;
}

img {
    border: none;
}

.fl {
    float: left;
}

.fr {
    float: right;
}